* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
}

header {
    background-color: rgb(57, 47, 199);
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px;
}

header h1 {
    margin: 0;
    font-size: 30px;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: antiquewhite;
    padding: 10px 15px;
    text-decoration: none;
}

.section-title {
    width: 100%;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    
}

.about-section h2 {
    font-size: 30px;
    border-bottom: 2px solid  rgb(57, 47, 199);
    width: fit-content;
    margin: 50px 15px;
}

.about-section img {
    /* margin: 90px -155px; */
    display: flex;
    flex-wrap: wrap;

}

.about-section p {
    width: 400px;
    text-align: center;
    margin: 50px 50px;
}

.project-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-section h2 {
    font-size: 30px;
    border-bottom: 2px solid  rgb(57, 47, 199);
    width: fit-content;
    margin: 25px 15px;
}

.featured-project {
    width: 450px;
    height: 295px;
    margin: 15px 290px;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    overflow: hidden;
}

.featured-project h3 {
    color:antiquewhite;
    background-color: rgb(57, 47, 199);
    position: absolute;
    border-radius: 4px;
}

.featured-project img {
    width: 100%;
    height: 100%;
}

.small-projects {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: space-between;
    align-items: center;
}

.project {
    height: 190px;
    width: 185px;
    margin: 10px 20px;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    overflow: hidden;

}

.project img {
    width: 100%;
    height: 100%;
}


footer {
    background-color: rgb(57, 47, 199);
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px;
}

footer h2 {
    margin: 0;
    font-size: 30px;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer ul li a {
    padding: 10px 15px;
    color: antiquewhite;
    text-decoration: none;
}